
# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt


# Docker
Dockerfile
.dockerignore

# IDE
.idea/
.vscode/

# OS
.DS_Store
